<!DOCTYPE html>
<title>
    KMITL Watering robot
</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>SMART ROBOT V1.0</h1>
    <div class="container">
  <div class="row justify-content-center">

    <h2>
        <br>
        <br>
            <form action="/forward/" method="post">
                <button name="forwardBtn"  btn-lg" type="submit" style="font-size : 40px; width: 100%; height: 100px;" >START...</button>
            </form><!--
            <form action="/backward/" method="post">
                <button name="backwardBtn" type="submit">Backward</button>
            </form>
            <form action="/left/" method="post">
                <button name="leftBtn" type="submit">Left</button>
            </form>
            <form action="/right/" method="post">
                <button name="rightBtn" type="submit">Right</button>
            </form>
            <form action="/stop/" method="post">
                <button name="stopBtn" type="submit">stop</button>
            </form>
        -->
    </h2>
</div>
</div>
    
</body>