<!DOCTYPE html>
<title>
    KMITL Watering robot
</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>SMART ROBOT V1.0</h1>
    <h3>
        Press the button below to start the automatic working...
    </h3>
    <h2>
            <form action="/forward/" method="post">
                <button name="forwardBtn" type="submit">Forward</button>
            </form>
    </h2>
    
</body>